# >> Python is a high-level interpreted programming language, which emphasizes on readibility and clean syntax.Â¶
# >> Python is a very versatile programming language and can be used across various domains like web development, data analysis, machine learning,
# >> It's a community driven language with the rich ecosystem of libraries.

# >> Rules for creating a variable in python :
    1. Variable-name should always start with a character
    2. There shouldn't be any special character except underscore(_) in variable-name. 
    3. Variable-name shouldn't be a keyword.
    4. Its preferrable to have variable-name be in lowercase and meaningful.
# >> Common python datatypes are int, float(decimal nos), string, boolean.

# >> In python, there is dynamic allocation of datatype i.e. we don't need to declare variable datatype first and then use it further it code.

In [6]:
a = 'dnfdn'
b = 12
c = 454.565
d = True
e = 'True'
f = "ghdsk" # Strings can be enclosed by either by single or double quotes.

print(type(a))
print(type(b))
print(type(c))
print(type(d)) 
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'str'>

# >> Variables can also undergo type-casting as follows :
    1. int -> float
    2. float -> int
    3. int -> str (whether reverse is allowed or not depends on value inside string be character or numeral)
    4. bool -> str

In [21]:
f = 12
g = float(f)
h = int(234.5)
i = str(12)
j = False
k = str(j)
l = int('454656')

print(f)
print(g)
print(h)
print(i)
print('Type of variable i is '+str(type(i)))
print(j)
print('Type of variable j is '+str(type(j)))
print(k)
print('Type of variable K is '+str(type(k)))
print(l)

12
12.0
234
12
Type of variable i is <class 'str'>
False
Type of variable j is <class 'bool'>
False
Type of variable K is <class 'str'>
454656

# >> In case the str/int/float variable is type-casted to boolean, presence of non-zero value(for int/float) and any non null value for str makes boolean equal to true or else false.

In [20]:
a = 2
b = "my_str"
c = 3432.5332
d = ''
e = None
f = 0

print(bool(2))
print(bool(b))
print(bool(c))
print(bool(d))
print(bool(e))
print(bool(f))

True
True
True
False
False
False

# >> There are total six different types of operators in python. They are :
    1. Arithmetic Operators >> [+, -, %, *, /, //, **]
    2. Assignment Operators >> [=, +=, *=, -=, /=, //=, **=]
    3. Relational(Comparison) Operators >> [==, <, >, <=, >=]
    4. Identity Operators >> [is, is not]
    5. Logical Operators >> [and, or, not]
    6. Membership Operators >> [in, not in]

In [1]:
# Arithmetic Operators >> [+, -, %, *, /, //, **]

a = 24
b = 4
c = 5

print(a+b) # addition
print(a-b) # Substraction
print(a*b) # Multiplication
print(a%b) # prints the remainder
print(a%c) # prints the remainder
print(a/b) # normal division
print(a//b) # floor division i.e. gives nearest smallest integer
print(a//c) # floor division i.e. gives nearest smallest integer
print(b**c) # exponential

28
20
96
0
4
6.0
6
4
1024

In [7]:
# Assignement Operators >> [=, +=, *=, -=, /=, //=, **=]

a = 5
a += 4 # a = a+4 is written shorthand as a+=4. Similar thing applies even for -, *,/,//,** operators
print(a)


b = 2
b -= 4
print(b)

9
-2

In [14]:
# Relational Operators >> [==, <, >, <=, >=]

a = 2
b = 2
c = 3

print(a==b)
print(a==c)
print(a==3)
print(a==2)
print(a>3)
print(b<3)
print(a>=2)
print(b<=4)

print('')
print('abc' == 'aBc') # == operator can be used for string comparison
print('abc' == 'abc')
print('ABC' == 'abc')

True
False
False
True
False
True
True
True

False
True
False

In [17]:
# Identity Operators >> [is, is not]

a = 1
b = a is None # can be used tp check whether a is null/non-null. In python, null is represented by None.
c = a is not None

print(b)
print(c)

False
True

In [27]:
# Logical Operators >> [and, or, not]

# and operator
age = 19
monthly_income = 80000
good_earning_person = (age > 18) and (monthly_income > 50000)
print(good_earning_person)
print('')

# or operator
species = 'Lion'   
cat_family_member_present_for_party = (species == 'Lion') or (species == 'Tiger') (species == 'Jaguar') or (species == 'Puma')
is_cat_from_America = (species == 'Jaguar') or (species == 'Puma')
print(cat_family_member_present_for_party)
print(is_cat_from_America)
print('')

# not operator
a = 12
b = 2321
c = 'dsds'

variable_is_integer = type(a) == type(2)
print(variable_is_integer)
print(not(variable_is_integer))
print(not(True))
print(not(False))

True

True
False

True
False
False
True

In [39]:
# Membership Operators >> (in, not in)

Indian_bus_brands = ['Ashley', 'Tata']

Indo_International_collab_bus_brands = ['Volvo Eicher',]

Non_Indian_bus_brands = ['Volvo', 'Scania', 'Mercedes', 'Cerita']

if 'BharatBenz' in Indian_bus_brands:
    print('BharatBenz is an indian origin bus brand')
else:
    print('BharatBenz is non-indian bus brand')

if 'Ashley' in Indian_bus_brands:
    print('Ashley is an indian origin bus brand')
else:
    print('Ashley is non-indian bus brand')

if ('Kia' not in Indian_bus_brands) or ('Kia' not in Indo_International_collab_bus_brands) or ('Kia' not in Non_Indian_bus_brands):
    print('Kia is not a bus brand')

BharatBenz is non-indian bus brand
Ashley is an indian origin bus brand
Kia is not a bus brand

In [40]:
vowels = ['a', 'e', 'i', 'o', 'u']

if c not in vowels:
    print('c is a consonant and not a vowel')

c is a consonant and not a vowel