# >> Python is a high-level interpreted programming language, which emphasizes on readibility and clean syntax.Â¶
# >> Python is a very versatile programming language and can be used across various domains like web development, data analysis, machine learning,
# >> It's a community driven language with the rich ecosystem of libraries.

# >> Rules for creating a variable in python :
    1. Variable-name should always start with a character
    2. There shouldn't be any special character except underscore(_) in variable-name. 
    3. Variable-name shouldn't be a keyword.
    4. Its preferrable to have variable-name be in lowercase and meaningful.
# >> Common python datatypes are int, float(decimal nos), string, boolean.

# >> In python, there is dynamic allocation of datatype i.e. we don't need to declare variable datatype first and then use it further it code.

In [1]:
a = 'dnfdn'
b = 12
c = 454.565
d = True
e = 'True'
f = "ghdsk" # Strings can be enclosed by either by single or double quotes.

print(type(a))
print(type(b))
print(type(c))
print(type(d)) 
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'str'>

# >> Variables can also undergo type-casting as follows :
    1. int -> float
    2. float -> int
    3. int -> str (whether reverse is allowed or not depends on value inside string be character or numeral)
    4. bool -> str

In [2]:
f = 12
g = float(f)
h = int(234.5)
i = str(12)
j = False
k = str(j)
l = int('454656')

print(f)
print(g)
print(h)
print(i)
print('Type of variable i is '+str(type(i)))
print(j)
print('Type of variable j is '+str(type(j)))
print(k)
print('Type of variable K is '+str(type(k)))
print(l)

12
12.0
234
12
Type of variable i is <class 'str'>
False
Type of variable j is <class 'bool'>
False
Type of variable K is <class 'str'>
454656

# >> In case the str/int/float variable is type-casted to boolean, presence of non-zero value(for int/float) and any non null value for str makes boolean equal to true or else false.

In [3]:
a = 2
b = "my_str"
c = 3432.5332
d = ''
e = None
f = 0

print(bool(2))
print(bool(b))
print(bool(c))
print(bool(d))
print(bool(e))
print(bool(f))

True
True
True
False
False
False

# >> There are total six different types of operators in python. They are :
    1. Arithmetic Operators >> [+, -, %, *, /, //, **]
    2. Assignment Operators >> [=, +=, *=, -=, /=, //=, **=]
    3. Relational(Comparison) Operators >> [==, <, >, <=, >=]
    4. Identity Operators >> [is, is not]
    5. Logical Operators >> [and, or, not]
    6. Membership Operators >> [in, not in]

In [4]:
# Arithmetic Operators >> [+, -, %, *, /, //, **]

a = 24
b = 4
c = 5

print(a+b) # addition
print(a-b) # Substraction
print(a*b) # Multiplication
print(a%b) # prints the remainder
print(a%c) # prints the remainder
print(a/b) # normal division
print(a//b) # floor division i.e. gives nearest smallest integer
print(a//c) # floor division i.e. gives nearest smallest integer
print(b**c) # exponential

28
20
96
0
4
6.0
6
4
1024

In [5]:
# Assignement Operators >> [=, +=, *=, -=, /=, //=, **=]

a = 5
a += 4 # a = a+4 is written shorthand as a+=4. Similar thing applies even for -, *,/,//,** operators
print(a)


b = 2
b -= 4
print(b)

9
-2

In [6]:
# Relational Operators >> [==, <, >, <=, >=]

a = 2
b = 2
c = 3

print(a==b)
print(a==c)
print(a==3)
print(a==2)
print(a>3)
print(b<3)
print(a>=2)
print(b<=4)

print('')
print('abc' == 'aBc') # == operator can be used for string comparison
print('abc' == 'abc')
print('ABC' == 'abc')

True
False
False
True
False
True
True
True

False
True
False

In [7]:
# Identity Operators >> [is, is not]

a = 1
b = a is None # can be used tp check whether a is null/non-null. In python, null is represented by None.
c = a is not None

print(b)
print(c)

False
True

In [8]:
# Logical Operators >> [and, or, not]

# and operator
age = 19
monthly_income = 80000
good_earning_person = (age > 18) and (monthly_income > 50000)
print(good_earning_person)
print('')

# or operator
species = 'Lion'   
cat_family_member_present_for_party = (species == 'Lion') or (species == 'Tiger') (species == 'Jaguar') or (species == 'Puma')
is_cat_from_America = (species == 'Jaguar') or (species == 'Puma')
print(cat_family_member_present_for_party)
print(is_cat_from_America)
print('')

# not operator
a = 12
b = 2321
c = 'dsds'

variable_is_integer = type(a) == type(2)
print(variable_is_integer)
print(not(variable_is_integer))
print(not(True))
print(not(False))

True

True
False

True
False
False
True

In [9]:
# Membership Operators >> (in, not in)

Indian_bus_brands = ['Ashley', 'Tata']

Indo_International_collab_bus_brands = ['Volvo Eicher',]

Non_Indian_bus_brands = ['Volvo', 'Scania', 'Mercedes', 'Cerita']

if 'BharatBenz' in Indian_bus_brands:
    print('BharatBenz is an indian origin bus brand')
else:
    print('BharatBenz is non-indian bus brand')

if 'Ashley' in Indian_bus_brands:
    print('Ashley is an indian origin bus brand')
else:
    print('Ashley is non-indian bus brand')

if ('Kia' not in Indian_bus_brands) or ('Kia' not in Indo_International_collab_bus_brands) or ('Kia' not in Non_Indian_bus_brands):
    print('Kia is not a bus brand')

BharatBenz is non-indian bus brand
Ashley is an indian origin bus brand
Kia is not a bus brand

In [10]:
vowels = ['a', 'e', 'i', 'o', 'u']

if c not in vowels:
    print('c is a consonant and not a vowel')

c is a consonant and not a vowel

In [11]:
input_num = input('Enter the input value') # by default datatype of input_num would be string.
print('Input provided is ' + input_num)
print(type(input_num))

Enter the input value hgj

Input provided is hgj
<class 'str'>

In [12]:
# You would need to type-caste the input if you want it in other datatypes since datatype is string by default for input function.

my_current_age = int(input('Enter your current age :'))
print(f'Current age entered is {my_current_age}')
print(type(my_current_age))

Enter your current age : 657

Current age entered is 657
<class 'int'>

# Data-structures in Python

The commonly used data-structures in python are :
1. Lists
2. Tuples
3. Dictionaries
4. Sets

# Lists
1. List is an ordered collection of items. 
2. The items in collection may be of same/different datatypes. 
3. Each item in the list can be accessed using indexing where index for the first item is '0'.
4. List can also be nested i.e. another list can also be present as one of the items of the list.
5. List are enclosed by square brackets.

In [14]:
# Creation of list.

# Way 1 - direct delaration
my_lst = [1,3,'sds', 34.0]
print(my_lst)

# Way 2 - list constructor
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

# Way 3 - declaring the empty list and then adding the elements using append, insert, extend functions directly or through the use of loops.
emp_lst = []
emp_lst.append('New_element1')
emp_lst.extend([1, 4, 5, 767,' my_sis'])
print(emp_lst)

[1, 3, 'sds', 34.0]
['apple', 'banana', 'cherry']
['New_element1', 1, 4, 5, 767, ' my_sis']

In [13]:
lst = [1,45,'1', 'assaf', 344.66, True, [2323, 44, 540], 'Texas']

print(type(lst))

<class 'list'>

In [14]:
print(len(lst)) #getting number of elements in the list using length function.

8

In [15]:
for i in range(len(lst)): #Use of indexing to query the elements of list
    print(lst[i])

1
45
1
assaf
344.66
True
[2323, 44, 540]
Texas

In [16]:
# Positive Indexing - Goes from left to right. Starts with zero for first element till int(len(list)-1) being assigned for last element
print(lst[0])
print(lst[1])
print(lst[len(lst)-1]) #Last element

# Negative Indexing for same elements. Negative indexing starts with -1 being assigned to last element of the list. First element of lst is assigned index as int(-len(lst))
print(lst[-len(lst)])
print(lst[-len(lst)+1])
print(lst[-1]) #Last element

1
45
Texas
1
45
Texas

In [17]:
# Elements of list can also be queried without indexes as follows:

for element in lst: #But have limited applications of usage
    print(element)

1
45
1
assaf
344.66
True
[2323, 44, 540]
Texas

In [18]:
# Concept of Slicing is used to extract desired selective values ftom the list
# Note that in positive indexing, index of 'n'th element is 'n-1'. For example, first element will have index as '0'. Second element will have index 1.

print(lst[2:5]) #Extraction of elements starting with index 2 till index 4. Note that index 5 is excluded. 

print(lst[2:7:2]) #Extraction of elements starting with index 2 till index 7 with gap of 1 i.e. next_index = (previous_index + 2)

print(lst[:5]) #Extraction of elements from start of the list till element with index 4(5th element). Blank value before first colon depicts that the required range starts with index '0' i.e. first element.

print(lst[3:]) #Extraction of elements starting with index 3 till end of the list. Blank value after first colon depicts that the required range ends at last element of the list.

print(lst[1::3]) #Extraction of elements starting with index 1 till the end of list with gap of 2 i.e. next_index = (previous_index + 3)

['1', 'assaf', 344.66]
['1', 344.66, [2323, 44, 540]]
[1, 45, '1', 'assaf', 344.66]
['assaf', 344.66, True, [2323, 44, 540], 'Texas']
[45, 344.66, 'Texas']

In [19]:
#adding new element at the end of the list

lst.append('California') 
print(lst)

[1, 45, '1', 'assaf', 344.66, True, [2323, 44, 540], 'Texas', 'California']

In [4]:
#The extend() method increases the length of the list by the number of elements that are provided to the method, so if you want to add multiple elements to the list, you can use this method.

x = [1, 2, 3]
x.extend([4, 5])
print(x)

[1, 2, 3, 4, 5]

In [27]:
# Combining two lists using '+' operators
x = [1, 2, 3]
y = [4, 5]
x = x + y
print(x)

[1, 2, 3, 4, 5]

In [20]:
# inserting the element at a certain index in the lst

lst.insert(3,'Ashley') #inserting the element 'Ashley' at the index 3 in the list
print(lst) #Indexes of the elements after index 3 would be shifted accordingly.

[1, 45, '1', 'Ashley', 'assaf', 344.66, True, [2323, 44, 540], 'Texas', 'California']

In [21]:
# Pop function to remove the elements from the list. Can be used with/without argument.

lst.pop() #Would remove the last element if no argument is passed
print(lst)

lst.pop(0) #Would remove the element at index provided as argument to function when argument is passed.
print(lst)

[1, 45, '1', 'Ashley', 'assaf', 344.66, True, [2323, 44, 540], 'Texas']
[45, '1', 'Ashley', 'assaf', 344.66, True, [2323, 44, 540], 'Texas']

In [22]:
# Index function - used to get the index of certain element of the list.

print(lst.index('Ashley'))
print(lst.index([2323,44,540]))

2
6

In [34]:
# Sort function - would sort the list permanently.

new_lst = lst[6]
print(new_lst)
print(type(new_lst))

new_lst.sort()  # Ascending sort
print(new_lst)

new_lst.sort(reverse = True) # Descending sort. If reverse = False then sort would be ascending.
print(new_lst)

[44, 540, 2323]
<class 'list'>
[44, 540, 2323]
[2323, 540, 44]

In [1]:
# Sorted function - would sort the list temporarily for its use somewhere else.
# If you want to sort it permanently, the result of sorted function can be assigned to the same variable.

lst2 = [2, 343, 23, 66743, 34554, 5432, 56]

print(sorted(lst2)) #Ascending temporary sort
print(sorted(lst2, reverse = True)) #Descending temporary sort
print(lst2)

[2, 23, 56, 343, 5432, 34554, 66743]
[66743, 34554, 5432, 343, 56, 23, 2]
[2, 343, 23, 66743, 34554, 5432, 56]

In [3]:
# Reverse the sequence of list without sorting

print(lst2) # Before reversing
lst2.reverse()
print(lst2) # After reversing

[2, 343, 23, 66743, 34554, 5432, 56]
[56, 5432, 34554, 66743, 23, 343, 2]

In [6]:
#Max and Min functions in list

print(max(lst2))
print(min(lst2))

66743
2

In [17]:
# Check if item exists in the list.

if 45 in lst2:
    print('45 present in the list')
else :
    print('45 absent in the list')

if 343 in lst2:
    print('343 present in the list')
else :
    print('343 absent in the list')

45 absent in the list
343 present in the list

In [24]:
# Deleting a list
del lst2
print(lst2) #this will raise an error because the tuple no longer exists

NameError: name 'lst2' is not defined

# Tuples
1. Tuples are used to store multiple items in a single variable. Tuples are defined within rounded brackets.
2. A tuple is a collection which is ordered and unchangeable. Elements of tuple can't be changed directly once its declared. Tuples are hence immutable whereas lists are mutable. If needed, conversion to list, then modification and then reconvrsion to tuple is the workaround suggested.
3. Indexing can be applied similar to lists for querying the elements.
4. Elements can be of same/different datatypes inside the tuple.
5. Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.
6. Elements can also be looped through with/without indexes similar to lists.

In [20]:
#Creation of tuples

#way 1 - direct declaration
tup1 = (1,2,'wew.',343.54)
print(type(tup1))

#way 2 - using tuple constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)


#To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple but instead as a string.
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
('apple', 'banana', 'cherry')
<class 'tuple'>
<class 'str'>

In [16]:
#Querying tuples
print(tup1[2])

wew.

In [19]:
# Check if item exists in the tuple.

if 45 in tup1:
    print('45 present in the tuple')
else :
    print('45 absent in the tuple')

if 343.54 in tup1:
    print('343.54 present in the tuple')
else :
    print('343.54 absent in the tuple')

if "apple" in tup1:
    print('apple present in the tuple')
else :
    print('apple absent in the tuple')

45 absent in the tuple
343.54 present in the tuple
apple absent in the tuple

In [28]:
# Working around with tuples.

# Way 1 : Convert it to list, do necessary operations and convert back to tuple again
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

# Way 2 : Add tuple to a tuple 
#You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple.
thistuple1 = ("apple", "banana", "cherry")
y = ("orange",)
thistuple1 += y
print(thistuple1)


tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('apple', 'banana', 'cherry', 'orange')
('apple', 'banana', 'cherry', 'orange')
('a', 'b', 'c', 1, 2, 3)

In [25]:
# Deleting a tuple
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

# Python Sets
1. A set is a collection which is unordered, unchangeable, and unindexed. Set items are unchangeable, but you can remove items and add new items.
2. Set is enclosed by curly braces.
3. Common set functions are len, add, remove, union, intersection, difference
4. Being unordered, indexing isn't applicable to sets.
5. Sets don't allow duplicate values. If you declare a set such that it contains duplicate values, on querying the set you will find just the unique values and no duplicates.

In [14]:
# Defining a set

# Way 1 - direct declaration
s1 = {1, 3, 4, 4, 'Tiger', 'Tiger', 'Lion', 343.89, 343.89}
print(s1)

# Way 2 - using set constructor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{1, 3, 4, 'Tiger', 'Lion', 343.89}
{'banana', 'cherry', 'apple'}

In [3]:
print('Hello')

Hello

In [8]:
# Duplicate removal application of sets

# Duplication removal from lists
lst = [1,2,1,45,67,45,6,7,78,5,5, 'lion', 'tiger', 'lion'] #original list with duplicates
lst = list(set(lst)) #duplicate removal by first casting as set and again casting back to list.
print(lst)

# Duplication removal from tuples
tuple1 = (1,2,1,45,67,45,6,7,78,5,5) #original tuple with duplicates
tuple1 = tuple(set(tuple1)) #duplicate removal by first casting as set and again casting back to list.
print(tuple1)

[1, 2, 67, 5, 6, 7, 'lion', 45, 78, 'tiger']
(1, 2, 67, 5, 6, 7, 45, 78)

In [9]:
# Length of a set
s1 = {1, 3, 4, 4, 'Tiger', 'Tiger', 'Lion', 343.89, 343.89}
print(s1)
print(len(s1))

{1, 3, 4, 'Tiger', 'Lion', 343.89}
6

In [17]:
# Adding elements to set using add function
s1.add('New_Delhi') # adding an element to set
print(s1)


# Adding another set/any iterable to a set using update function
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical) # Note that even lists and tuples can also be used as argument to update function. Its not just adding another set
print(thisset)

{1, 3, 4, 'New_Delhi', 'Tiger', 'Lion', 343.89}
{'cherry', 'pineapple', 'mango', 'banana', 'apple', 'papaya'}

In [11]:
# Removing specific elements from set using remove function with element value as a compulsory argument.

s1.remove('Tiger') # discard method can also be used intead of remove method
print(s1)

{1, 3, 4, 'New_Delhi', 'Lion', 343.89}

In [18]:
# Removing random elemts from a set using pop method

print(s1)
s1.pop()
print(s1)

{1, 3, 4, 'New_Delhi', 'Tiger', 'Lion', 343.89}
{3, 4, 'New_Delhi', 'Tiger', 'Lion', 343.89}

In [13]:
# Union and Intersection functions in sets

wild_cats = {'Tiger', 'Lion', 'Cheetah', 'Leopard', 'Jaguar', 'Puma'}
pet_cats = {'Persian Cat', 'Puma', 'Cheetah', 'Lion'}

cats = wild_cats.union(pet_cats) #union example
print(cats)

wild_cats_that_can_be_pet = wild_cats.intersection(pet_cats)
print(wild_cats_that_can_be_pet)

{'Cheetah', 'Tiger', 'Jaguar', 'Puma', 'Lion', 'Leopard', 'Persian Cat'}
{'Puma', 'Cheetah', 'Lion'}

In [20]:
# Looping through set elements
wild_cats = {'Tiger', 'Lion', 'Cheetah', 'Leopard', 'Jaguar', 'Puma'}
for x in wild_cats: # Note that being unordered, every time code is executed the ouput sequence might change
    print(x)

Cheetah
Lion
Tiger
Jaguar
Puma
Leopard

In [21]:
# Difference function in sets
# Denoted by '-', its used when we need to keep only those elements from original set that aren't present in the another set with which it is compared

wild_cats = {'Tiger', 'Lion', 'Cheetah', 'Leopard', 'Jaguar', 'Puma'}
pet_cats = {'Persian Cat', 'Puma', 'Cheetah', 'Lion'}

new_set = wild_cats - pet_cats
print(new_set)

{'Leopard', 'Tiger', 'Jaguar'}

In [22]:
# Symmetric difference function
# The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
# Note that this function treats True and 1 as the same value.

wild_cats = {'Tiger', 'Lion', 'Cheetah', 'Leopard', 'Jaguar', 'Puma'}
pet_cats = {'Persian Cat', 'Puma', 'Cheetah', 'Lion'}

environmentally_conservative_cats = wild_cats.symmetric_difference(pet_cats)
print(environmentally_conservative_cats)

{'Tiger', 'Jaguar', 'Leopard', 'Persian Cat'}

# Dictionaries in Python
1. Dictionaries are used to store data values in key:value pairs.
2. Dictionary is a collection which is ordered, changeable and do not allow duplicates.
3. Dictionaries are written with curly brackets, and have keys and values.
4. Keys can be string/numeric values and value can be of any datatype(including lists, tuples, even another dictionary).
5. Dictionaries can be nested. Best example of nested dictionaries is JSON scripts.
6. Keys need to be unique in a dictionary to prevent unnecessary update of values.
7. There cannot be duplicate entries for a single key.

In [53]:
# Defining a dictionary 

# Way 1 - normal declaration
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
print(thisdict)

# Way 2 - decalring an empty dictionary and adding elements using keys
new_dict = {}
print(new_dict)
new_dict['Hyundai'] = 'Korea'
new_dict['Honda'] = 'Japan'
print(new_dict)

# Way 3 - Using dict() constructor
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{}
{'Hyundai': 'Korea', 'Honda': 'Japan'}
{'name': 'John', 'age': 36, 'country': 'Norway'}

In [75]:
# Modifying/updating the existing elements of dictionary.
new_dict = {'Hyundai': 'Korea', 'Honda': 'Japan'}
new_dict['Honda'] = 'India'
print(new_dict)

# Alternately update() method can also be used as below to either update existing key-value pair or add a new key-value pair. Syntax remains same on both situations.
new_dict.update({'Honda' : 'Japan'})
print(new_dict)

{'Hyundai': 'Korea', 'Honda': 'India'}
{'Hyundai': 'Korea', 'Honda': 'Japan'}

In [76]:
# Nested dictionaries
new_dict = {'Hyundai': 'Korea', 'Honda': 'Japan'}

new_dict['Suzuki'] = {'Maruti Suzuki' : 'India'} # Adding dictionary as a value for a key to form nested dictionary
print(new_dict)

#new_dict['Suzuki'] = {'Suzuki Australia' : 'Suzuki'} #Adding elements to the inner dictionary 
new_dict['Suzuki']['Suzuki Australia'] = 'Australia'
print(new_dict)

{'Hyundai': 'Korea', 'Honda': 'Japan', 'Suzuki': {'Maruti Suzuki': 'India'}}
{'Hyundai': 'Korea', 'Honda': 'Japan', 'Suzuki': {'Maruti Suzuki': 'India', 'Suzuki Australia': 'Australia'}}

In [77]:
# Listing all the keys present in a dictionary

keys = new_dict.keys()
print(keys)
print(type(keys))

print(list(keys)[2]) #Extracting the individual keys from the dict_keys list for some purpose.

dict_keys(['Hyundai', 'Honda', 'Suzuki'])
<class 'dict_keys'>
Suzuki

In [78]:
# Listing all the values present inside a dictionary

values = new_dict.values()
print(values)
print(type(values))

print(list(values)[0]) #Extracting the individual values from the dict_values list for some purpose.

dict_values(['Korea', 'Japan', {'Maruti Suzuki': 'India', 'Suzuki Australia': 'Australia'}])
<class 'dict_values'>
Korea

In [79]:
# Listing items present in a dictionary

items1 = new_dict.items()
print(items1)
print(type(items1))

print(list(items1)[1]) #Extracting the individual items from the dict_items list for some purpose. 

print(list(items1)[1][1]) #Querying items from the individual item tuple for some purpose.

dict_items([('Hyundai', 'Korea'), ('Honda', 'Japan'), ('Suzuki', {'Maruti Suzuki': 'India', 'Suzuki Australia': 'Australia'})])
<class 'dict_items'>
('Honda', 'Japan')
Japan

In [80]:
# Querying value from a dictionary - we need to pass the key for the same.

print(new_dict)

x = new_dict['Suzuki']
y = new_dict['Hyundai']
z = new_dict.get('Honda') # Alternate method
a = new_dict.get('Mazda') # get methods returns null instead of throwing error if key passed as argument is not present in the dictionary. This can be advantageous in error handling.
b = new_dict.get('Toyota','Japan') # We can also pass a default value to return in case the key passed as argument is not present in the dictionary.
print(x)
print(y)
print(z)
print(a)
print(b)

{'Hyundai': 'Korea', 'Honda': 'Japan', 'Suzuki': {'Maruti Suzuki': 'India', 'Suzuki Australia': 'Australia'}}
{'Maruti Suzuki': 'India', 'Suzuki Australia': 'Australia'}
Korea
Japan
None
Japan

In [84]:
#Removing items from the dictionary

new_dict = {'Hyundai': 'Korea', 'Honda': 'Japan', 'Suzuki': {'Maruti Suzuki': 'India', 'Suzuki Australia': 'Australia'}}

# Way 1 : using popitem() method removes the last inserted item
print(new_dict)
new_dict.popitem()
print(new_dict)

# Way 2 : using pop() method with key as the argument to remove a specific item
new_dict.pop('Hyundai')
print(new_dict)

# Way 3 : using del keyword removes the item with the specified key name.
del new_dict['Honda']

{'Hyundai': 'Korea', 'Honda': 'Japan', 'Suzuki': {'Maruti Suzuki': 'India', 'Suzuki Australia': 'Australia'}}
{'Hyundai': 'Korea', 'Honda': 'Japan'}
{'Honda': 'Japan'}

In [88]:
# Iterating through the dictionaries

thisdict = {'Hyundai': 'Korea', 'Honda': 'Japan', 'Suzuki': {'Maruti Suzuki': 'India', 'Suzuki Australia': 'Australia'}}


for x in thisdict: # can be used to iterate over the values in the dictionary
  print(thisdict[x])


print('')


for x in thisdict.values(): #You can also use the values() method to return values of a dictionary:
  print(x)


print('')


for x in thisdict.keys(): # can be used to iterate over the keys of the dictionary
  print(x)


print('')


for x,y in thisdict.items(): # can be used to iterate over the items of the dictionary
  print(x,y)

Korea
Japan
{'Maruti Suzuki': 'India', 'Suzuki Australia': 'Australia'}

Korea
Japan
{'Maruti Suzuki': 'India', 'Suzuki Australia': 'Australia'}

Hyundai
Honda
Suzuki

Hyundai Korea
Honda Japan
Suzuki {'Maruti Suzuki': 'India', 'Suzuki Australia': 'Australia'}

In [92]:
#Similar to lists, even dictionary has an exclusive copy() method to copy a dictionary without referencing dependencies on the original dictionary

new_dict = {'Hyundai': 'Korea', 'Honda': 'Japan', 'Suzuki': {'Maruti Suzuki': 'India', 'Suzuki Australia': 'Australia'}}


new_dict2 = new_dict.copy()
print(new_dict2)

# Any further changes to new_dict won't affect the new_dict2 since both are independent dictionaries with same items present currently.

{'Hyundai': 'Korea', 'Honda': 'Japan', 'Suzuki': {'Maruti Suzuki': 'India', 'Suzuki Australia': 'Australia'}}

In [94]:
# Same task can also be accomplished using dict()

new_dict3 = dict(new_dict)
print(new_dict3)
# Any further changes to new_dict won't affect the new_dict2 since both are independent dictionaries with same items present currently.

{'Hyundai': 'Korea', 'Honda': 'Japan', 'Suzuki': {'Maruti Suzuki': 'India', 'Suzuki Australia': 'Australia'}}

# Strings in Python
1. Strings in python are surrounded by either single quotation marks, or double quotation marks.
2. You can assign a multiline string to a variable by using three quotes. Note that in the result, the line breaks are inserted at the same position as in the code.
3. Strings in Python are arrays of bytes representing unicode characters.
4. A single character is simply a string with a length of 1.
5. Square brackets can be used to access elements of the string through indexing.
6. Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [113]:
a = 'Ellora Caves'

print(a[7])
print(a[7:])
print(a[-1])
print(a[2:8])
print(a[2:-1:2])

print('')

for x in a: #Loop through the letters/characters in the word
    print(x)


print("\n" + str(len(a))) #getting length of the string

C
Caves
s
lora C
lr ae

E
l
l
o
r
a

C
a
v
e
s

12

In [111]:
# Changing cases of string

a = 'Ellora Caves'

print(a.lower())
print(a.upper())
print(a.capitalize()) # Capitalizes first letter of string
print(a.title()) # Capitalizes first letter after every space i.e. first letter of every word

ellora caves
ELLORA CAVES
Ellora caves
Ellora Caves

In [ ]:
a.swapcase