In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('titanic.csv')
df

,Pclass,Sex,Age,SibSp,Parch,family,Fare,Cabin,Embarked,Survived
0,3,male,22.0,1,0,1,7.2500,NaN,S,0
1,1,female,38.0,1,0,1,71.2833,C85,C,1
2,3,female,26.0,0,0,0,7.9250,NaN,S,1
3,1,female,35.0,1,0,1,53.1000,C123,S,1
4,3,male,35.0,0,0,0,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...
886,2,male,27.0,0,0,0,13.0000,NaN,S,0
887,1,female,19.0,0,0,0,30.0000,B42,S,1
888,3,female,NaN,1,2,3,23.4500,NaN,S,0
889,1,male,26.0,0,0,0,30.0000,C148,C,1
890,3,male,32.0,0,0,0,7.7500,NaN,Q,0

In [3]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df

E:\spark_temp\ipykernel_17176\432742771.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

,Pclass,Sex,Age,SibSp,Parch,family,Fare,Cabin,Embarked,Survived
0,3,male,22.0,1,0,1,7.2500,NaN,S,0
1,1,female,38.0,1,0,1,71.2833,C85,C,1
2,3,female,26.0,0,0,0,7.9250,NaN,S,1
3,1,female,35.0,1,0,1,53.1000,C123,S,1
4,3,male,35.0,0,0,0,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...
886,2,male,27.0,0,0,0,13.0000,NaN,S,0
887,1,female,19.0,0,0,0,30.0000,B42,S,1
888,3,female,28.0,1,2,3,23.4500,NaN,S,0
889,1,male,26.0,0,0,0,30.0000,C148,C,1
890,3,male,32.0,0,0,0,7.7500,NaN,Q,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   family    891 non-null    int64
 6   Fare      891 non-null    float64
 7   Cabin     204 non-null    object
 8   Embarked  891 non-null    object
 9   Survived  891 non-null    int64
dtypes: float64(2), int64(5), object(3)
memory usage: 69.7+ KB

In [5]:
df['Cabin'].fillna(0, inplace=True)
df.head(5)

E:\spark_temp\ipykernel_17176\2743770783.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cabin'].fillna(0, inplace=True)

,Pclass,Sex,Age,SibSp,Parch,family,Fare,Cabin,Embarked,Survived
0,3,male,22.0,1,0,1,7.2500,0,S,0
1,1,female,38.0,1,0,1,71.2833,C85,C,1
2,3,female,26.0,0,0,0,7.9250,0,S,1
3,1,female,35.0,1,0,1,53.1000,C123,S,1
4,3,male,35.0,0,0,0,8.0500,0,S,0

In [6]:
print(df[df['Cabin'] != 0])

     Pclass     Sex   Age  SibSp  Parch  family     Fare        Cabin  \
1         1  female  38.0      1      0       1  71.2833          C85
3         1  female  35.0      1      0       1  53.1000         C123
6         1    male  54.0      0      0       0  51.8625          E46
10        3  female   4.0      1      1       2  16.7000           G6
11        1  female  58.0      0      0       0  26.5500         C103
..      ...     ...   ...    ...    ...     ...      ...          ...
871       1  female  47.0      1      1       2  52.5542          D35
872       1    male  33.0      0      0       0   5.0000  B51 B53 B55
879       1  female  56.0      0      1       1  83.1583          C50
887       1  female  19.0      0      0       0  30.0000          B42
889       1    male  26.0      0      0       0  30.0000         C148

    Embarked  Survived
1          C         1
3          S         1
6          S         0
10         S         1
11         S         1
..       ...       ...
871        S         1
872        S         0
879        C         1
887        S         1
889        C         1

[204 rows x 10 columns]

In [7]:
df['Cabin'][df['Cabin'] != 0] = 1
df

,Pclass,Sex,Age,SibSp,Parch,family,Fare,Cabin,Embarked,Survived
0,3,male,22.0,1,0,1,7.2500,0,S,0
1,1,female,38.0,1,0,1,71.2833,1,C,1
2,3,female,26.0,0,0,0,7.9250,0,S,1
3,1,female,35.0,1,0,1,53.1000,1,S,1
4,3,male,35.0,0,0,0,8.0500,0,S,0
...,...,...,...,...,...,...,...,...,...,...
886,2,male,27.0,0,0,0,13.0000,0,S,0
887,1,female,19.0,0,0,0,30.0000,1,S,1
888,3,female,28.0,1,2,3,23.4500,0,S,0
889,1,male,26.0,0,0,0,30.0000,1,C,1
890,3,male,32.0,0,0,0,7.7500,0,Q,0

In [8]:
df = pd.get_dummies(df, columns = ['Sex','Embarked'], drop_first=True)
df

,Pclass,Age,SibSp,Parch,family,Fare,Cabin,Survived,Sex_male,Embarked_N,Embarked_Q,Embarked_S
0,3,22.0,1,0,1,7.2500,0,0,True,False,False,True
1,1,38.0,1,0,1,71.2833,1,1,False,False,False,False
2,3,26.0,0,0,0,7.9250,0,1,False,False,False,True
3,1,35.0,1,0,1,53.1000,1,1,False,False,False,True
4,3,35.0,0,0,0,8.0500,0,0,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
886,2,27.0,0,0,0,13.0000,0,0,True,False,False,True
887,1,19.0,0,0,0,30.0000,1,1,False,False,False,True
888,3,28.0,1,2,3,23.4500,0,0,False,False,False,True
889,1,26.0,0,0,0,30.0000,1,1,True,False,False,False
890,3,32.0,0,0,0,7.7500,0,0,True,False,True,False

In [9]:
df['Sex_male']=df['Sex_male'].astype(int)
df['Embarked_N']=df['Embarked_N'].astype(int)
df['Embarked_Q']=df['Embarked_Q'].astype(int)
df['Embarked_S']=df['Embarked_S'].astype(int)
df.head()

,Pclass,Age,SibSp,Parch,family,Fare,Cabin,Survived,Sex_male,Embarked_N,Embarked_Q,Embarked_S
0,3,22.0,1,0,1,7.2500,0,0,1,0,0,1
1,1,38.0,1,0,1,71.2833,1,1,0,0,0,0
2,3,26.0,0,0,0,7.9250,0,1,0,0,0,1
3,1,35.0,1,0,1,53.1000,1,1,0,0,0,1
4,3,35.0,0,0,0,8.0500,0,0,1,0,0,1

In [10]:
from sklearn.model_selection import train_test_split
X = df.loc[:,df.columns!= 'Survived']
y = df['Survived']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [11]:
from sklearn.linear_model import LogisticRegression
m1 = LogisticRegression()
m1.fit(X_train,y_train)

C:\Users\Tejas Patil\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [12]:
pred =m1.predict(X_test)
pred

array([1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0], dtype=int64)

In [13]:
m1.predict_proba(X_test)

array([[0.08707332, 0.91292668],
       [0.92240291, 0.07759709],
       [0.16348004, 0.83651996],
       [0.29277578, 0.70722422],
       [0.09149344, 0.90850656],
       [0.89824667, 0.10175333],
       [0.6314166 , 0.3685834 ],
       [0.08625204, 0.91374796],
       [0.72972963, 0.27027037],
       [0.40644622, 0.59355378],
       [0.91277209, 0.08722791],
       [0.40155253, 0.59844747],
       [0.6781783 , 0.3218217 ],
       [0.83607654, 0.16392346],
       [0.29261857, 0.70738143],
       [0.39912604, 0.60087396],
       [0.95013804, 0.04986196],
       [0.94323412, 0.05676588],
       [0.94350377, 0.05649623],
       [0.32200994, 0.67799006],
       [0.93373288, 0.06626712],
       [0.92328382, 0.07671618],
       [0.02347757, 0.97652243],
       [0.78966589, 0.21033411],
       [0.31208166, 0.68791834],
       [0.91941743, 0.08058257],
       [0.06125574, 0.93874426],
       [0.36233573, 0.63766427],
       [0.82338153, 0.17661847],
       [0.11922408, 0.88077592],
       [0.36264356, 0.63735644],
       [0.40098389, 0.59901611],
       [0.50396788, 0.49603212],
       [0.51183261, 0.48816739],
       [0.91968139, 0.08031861],
       [0.60850191, 0.39149809],
       [0.48259502, 0.51740498],
       [0.92232106, 0.07767894],
       [0.40240192, 0.59759808],
       [0.89429622, 0.10570378],
       [0.41180621, 0.58819379],
       [0.34998875, 0.65001125],
       [0.12069922, 0.87930078],
       [0.58380355, 0.41619645],
       [0.4640004 , 0.5359996 ],
       [0.94110354, 0.05889646],
       [0.98209753, 0.01790247],
       [0.89059032, 0.10940968],
       [0.60730846, 0.39269154],
       [0.75295965, 0.24704035],
       [0.77364604, 0.22635396],
       [0.1880742 , 0.8119258 ],
       [0.77590332, 0.22409668],
       [0.87700788, 0.12299212],
       [0.92560733, 0.07439267],
       [0.50509304, 0.49490696],
       [0.8411645 , 0.1588355 ],
       [0.73196102, 0.26803898],
       [0.9429663 , 0.0570337 ],
       [0.34241832, 0.65758168],
       [0.96918868, 0.03081132],
       [0.8879353 , 0.1120647 ],
       [0.82260216, 0.17739784],
       [0.82086004, 0.17913996],
       [0.52230043, 0.47769957],
       [0.28285182, 0.71714818],
       [0.89099356, 0.10900644],
       [0.88158013, 0.11841987],
       [0.05967937, 0.94032063],
       [0.93383439, 0.06616561],
       [0.96493952, 0.03506048],
       [0.97732837, 0.02267163],
       [0.51366844, 0.48633156],
       [0.92240291, 0.07759709],
       [0.24203848, 0.75796152],
       [0.85244757, 0.14755243],
       [0.23983417, 0.76016583],
       [0.87066104, 0.12933896],
       [0.61482625, 0.38517375],
       [0.02682829, 0.97317171],
       [0.92313313, 0.07686687],
       [0.99805023, 0.00194977],
       [0.92242454, 0.07757546],
       [0.9386409 , 0.0613591 ],
       [0.04814024, 0.95185976],
       [0.92560508, 0.07439492],
       [0.92242454, 0.07757546],
       [0.88793449, 0.11206551],
       [0.61852581, 0.38147419],
       [0.60036462, 0.39963538],
       [0.59783319, 0.40216681],
       [0.88822422, 0.11177578],
       [0.85561159, 0.14438841],
       [0.29261857, 0.70738143],
       [0.92262763, 0.07737237],
       [0.32605418, 0.67394582],
       [0.97793794, 0.02206206],
       [0.32745862, 0.67254138],
       [0.89021911, 0.10978089],
       [0.92240291, 0.07759709],
       [0.60372016, 0.39627984],
       [0.76362883, 0.23637117],
       [0.91982213, 0.08017787],
       [0.22012482, 0.77987518],
       [0.01498283, 0.98501717],
       [0.9059854 , 0.0940146 ],
       [0.92541143, 0.07458857],
       [0.92538776, 0.07461224],
       [0.9697115 , 0.0302885 ],
       [0.95571906, 0.04428094],
       [0.65189306, 0.34810694],
       [0.85994604, 0.14005396],
       [0.92267475, 0.07732525],
       [0.94461986, 0.05538014],
       [0.80484202, 0.19515798],
       [0.9362969 , 0.0637031 ],
       [0.89810381, 0.10189619],
       [0.56392142, 0.43607858],
       [0.42411355, 0.57588645],
       [0.45387391, 0.54612609],
       [0.34391777, 0.65608223],
       [0.74445876, 0.25554124],
       [0.92240291, 0.07759709],
       [0.76877609, 0.23122391],
       [0.04440631, 0.95559369],
       [0.0272696 , 0.9727304 ],
       [0.23863173, 0.76136827],
       [0.36140264, 0.63859736],
       [0.99805023, 0.00194977],
       [0.87066104, 0.12933896],
       [0.90932865, 0.09067135],
       [0.95912324, 0.04087676],
       [0.26679959, 0.73320041],
       [0.31916897, 0.68083103],
       [0.799074  , 0.200926  ],
       [0.10978481, 0.89021519],
       [0.02213079, 0.97786921],
       [0.97287459, 0.02712541],
       [0.92666657, 0.07333343],
       [0.3711642 , 0.6288358 ],
       [0.05410567, 0.94589433],
       [0.9514212 , 0.0485788 ],
       [0.03259419, 0.96740581],
       [0.42219678, 0.57780322],
       [0.92238597, 0.07761403],
       [0.44255811, 0.55744189],
       [0.85219377, 0.14780623],
       [0.92242454, 0.07757546],
       [0.26008473, 0.73991527],
       [0.90207286, 0.09792714],
       [0.17583709, 0.82416291],
       [0.96618372, 0.03381628],
       [0.9349111 , 0.0650889 ],
       [0.24274643, 0.75725357],
       [0.92895139, 0.07104861],
       [0.93378591, 0.06621409],
       [0.901961  , 0.098039  ],
       [0.95562671, 0.04437329],
       [0.24666155, 0.75333845],
       [0.80484202, 0.19515798],
       [0.92595165, 0.07404835],
       [0.92262763, 0.07737237],
       [0.35159781, 0.64840219],
       [0.40333968, 0.59666032],
       [0.96674193, 0.03325807],
       [0.31666152, 0.68333848],
       [0.38710191, 0.61289809],
       [0.92895139, 0.07104861],
       [0.87715852, 0.12284148],
       [0.58965812, 0.41034188],
       [0.24146653, 0.75853347],
       [0.57769265, 0.42230735],
       [0.04760017, 0.95239983],
       [0.91719284, 0.08280716],
       [0.09051127, 0.90948873],
       [0.3867161 , 0.6132839 ],
       [0.87065736, 0.12934264],
       [0.83331501, 0.16668499],
       [0.30357954, 0.69642046],
       [0.94857634, 0.05142366],
       [0.03051872, 0.96948128],
       [0.10726743, 0.89273257],
       [0.91894333, 0.08105667],
       [0.955609  , 0.044391  ],
       [0.05764899, 0.94235101],
       [0.7692982 , 0.2307018 ],
       [0.92242454, 0.07757546],
       [0.05432184, 0.94567816],
       [0.87066104, 0.12933896],
       [0.0511395 , 0.9488605 ],
       [0.41019636, 0.58980364],
       [0.58197261, 0.41802739],
       [0.29261857, 0.70738143],
       [0.21888769, 0.78111231],
       [0.23920874, 0.76079126],
       [0.04099676, 0.95900324],
       [0.83255507, 0.16744493],
       [0.17987552, 0.82012448],
       [0.91108989, 0.08891011],
       [0.90617158, 0.09382842],
       [0.88147546, 0.11852454],
       [0.24793079, 0.75206921],
       [0.88793449, 0.11206551],
       [0.73429464, 0.26570536],
       [0.59356509, 0.40643491],
       [0.07316688, 0.92683312],
       [0.16360877, 0.83639123],
       [0.81784729, 0.18215271],
       [0.68991883, 0.31008117],
       [0.97886893, 0.02113107],
       [0.03437377, 0.96562623],
       [0.96037328, 0.03962672],
       [0.89003229, 0.10996771],
       [0.79738462, 0.20261538],
       [0.90999877, 0.09000123],
       [0.94121207, 0.05878793],
       [0.87046413, 0.12953587],
       [0.03167018, 0.96832982],
       [0.23306077, 0.76693923],
       [0.87970609, 0.12029391],
       [0.40074856, 0.59925144],
       [0.88793449, 0.11206551],
       [0.64988997, 0.35011003],
       [0.87362581, 0.12637419],
       [0.91765019, 0.08234981],
       [0.66606105, 0.33393895],
       [0.03324225, 0.96675775],
       [0.43764793, 0.56235207],
       [0.33221616, 0.66778384],
       [0.65227115, 0.34772885],
       [0.42444127, 0.57555873],
       [0.86836436, 0.13163564],
       [0.68262208, 0.31737792],
       [0.8681044 , 0.1318956 ],
       [0.9478672 , 0.0521328 ],
       [0.44603832, 0.55396168],
       [0.48410067, 0.51589933],
       [0.24020201, 0.75979799],
       [0.20028679, 0.79971321],
       [0.93749954, 0.06250046],
       [0.96753438, 0.03246562],
       [0.90526412, 0.09473588],
       [0.8961172 , 0.1038828 ],
       [0.93938479, 0.06061521],
       [0.95421979, 0.04578021],
       [0.93105439, 0.06894561],
       [0.0885519 , 0.9114481 ],
       [0.28798   , 0.71202   ],
       [0.66223949, 0.33776051],
       [0.05014868, 0.94985132],
       [0.95375264, 0.04624736],
       [0.87537171, 0.12462829],
       [0.62766053, 0.37233947],
       [0.32553319, 0.67446681],
       [0.14070457, 0.85929543],
       [0.21254917, 0.78745083],
       [0.69093714, 0.30906286],
       [0.3441521 , 0.6558479 ],
       [0.89446441, 0.10553559],
       [0.52880202, 0.47119798],
       [0.12793454, 0.87206546],
       [0.91765019, 0.08234981],
       [0.29261857, 0.70738143],
       [0.16852521, 0.83147479],
       [0.83373039, 0.16626961],
       [0.86299408, 0.13700592],
       [0.41930445, 0.58069555],
       [0.71351641, 0.28648359]])

In [14]:
from sklearn.metrics import confusion_matrix
labels = np.unique(y_test)
cm = confusion_matrix(y_test, pred, labels = labels)

In [15]:
cm

array([[132,  21],
       [ 34,  81]], dtype=int64)

In [16]:
from sklearn import metrics

accuracy = metrics.accuracy_score(y_test, pred)
Precision = metrics.precision_score(y_test, pred)
Recall = metrics.recall_score(y_test, pred)

print("Accuracy:", accuracy)
print("Precision:", Precision)
print("Recall:", Recall)

Accuracy: 0.7947761194029851
Precision: 0.7941176470588235
Recall: 0.7043478260869566